/*============================================================================================*/
/*-------------------------------------- Content Styles --------------------------------------*/
/*============================================================================================*/

#page-content {
  justify-content: center;
  padding: 1rem 0;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin: 1rem;
  padding: 0 0.5rem;
  width: 90%;
}

#sub-txt {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

.mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 2.5rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  color: black;
}

#mail {
  border-radius: 100%;
  width: 2.5rem;
  margin-right: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 1rem;
  border-radius: 2.5rem;
  background: url('../../images/banners/form.svg'), black; /* Credit to svgbackgrounds.com */
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  margin-bottom: 3rem;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.75rem;
  padding: 0.75rem 1.25rem;
  width: 80%;
  border: none;
  border-radius: 5rem;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin: 1rem;
  padding: 1.25rem;
  padding-bottom: 7.5rem;
  border: none;
  border-radius: 1.25rem;
  resize: none;
  border: none;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#send {
  display: flex;
  align-items: center;
  padding: 1rem 1.25rem;
  font-family: "Major Mono Display", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  text-transform: lowercase;
  background: rgb(255, 214, 0);
  color: black;
  border: none;
  border-radius: 5rem;
  margin: 1rem;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#send-icon {
  width: 1.5rem;
}

/* ======================= Animations ======================= */

.mail:hover {
  transform: scale(1.1);
}

.mail:active {
  opacity: 0.75;
  -webkit-tap-highlight-color: transparent;
}

#send:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#send:active{
  opacity: 0.75;
  -webkit-tap-highlight-color: transparent;
}

#page-content::-webkit-scrollbar { width: 0 !important }
#message::-webkit-scrollbar { width: 0 !important }

input, textarea:focus {
  outline: none;
}

input:hover {
  transform: scale(1.05);
}

textarea:hover {
  transform: scale(1.05);
}

input:valid, textarea:valid {
  border: none;
}

.submitted:invalid {
  border: 0.2rem solid darkorchid;
}

/*============================================================================================*/
/*-------------------------------------- Media Queries ---------------------------------------*/
/*============================================================================================*/ 

@media only screen and (min-width: 1025px) {

  h2 {
    margin: 0;
    margin-top: 0;
  }

  #page-content {
    padding: 2rem;
    flex-direction: row;
    width: 100%;
  }

  .text {
    width: 100%;
    padding: 0 3.5rem;
  }

  .mail {
    padding: 1rem;
    font-size: 1.25rem;
  }

  #mail {
    width: 3rem;
    margin-right: 1rem;
  }

  form {
    width: 80%;
    padding: 2rem 0;
    border-radius: 2.5rem;
    margin-bottom: 1rem;
  }

  input {
    padding: 1.5rem 1.25rem;
    width: 90%;
  }

  textarea {
    width: 90%;
    padding-bottom: 7.5rem;
  }

  #send {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

  #send-icon{
    width: 2rem;
  }
}


/*============================================================================================*/
/*--------------------------------------- End of File ----------------------------------------*/
/*============================================================================================*/