/*============================================================================================*/
/*------------------------------------ Universal Styles --------------------------------------*/
/*============================================================================================*/

/* ======================= Font Styles ======================= */




/*============================================================================================*/
/*-------------------------------------- Content Styles --------------------------------------*/
/*============================================================================================*/

/* ======================= About Site ======================= */

  .please-donate {
    text-align: center;
  }
  
  #donate-button {
    font-family: 'Major Mono Display', Tahoma, Verdana, sans-serif;
    text-transform: lowercase;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    align-self: center;
    color: black;
    background: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
  }

  #donate-icon{
    border-radius: 100%;
    align-self: center;
    width: 2.5rem;
  }

  #donate-button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  #donate-button:active {
    -webkit-tap-highlight-color: transparent;
  }
    

/*============================================================================================*/
/*-------------------------------------- Media Queries ---------------------------------------*/
/*============================================================================================*/ 

@media only screen and (min-width: 1025px) {
  
  h2 {
    margin: 2rem;
    margin-top: 4rem;
  }

  p{
    padding: 0 5rem;
  }

  #page-content {
    padding: 2rem;
  }

  #donate-button {
    font-size: 1.5rem;
  }

  #donate-icon {
    width: 4rem;
  }
}


/*============================================================================================*/
/*--------------------------------------- End of File ----------------------------------------*/
/*============================================================================================*/