html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ======================= Font Styles ======================= */

h2 {
  font-family: "Major Mono Display", monospace;
  font-size: calc(2rem + 1vw);
  text-transform: lowercase;
  text-align: center;
  font-weight: bolder;
  margin: 1rem;
}

p {
  font-size: 1rem;
}


/*============================================================================================*/
/*-------------------------------------- Content Styles --------------------------------------*/
/*============================================================================================*/

  #page-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    background: rgb(29, 29, 29);
    padding: 1rem;
  }


/* ======================= About Site ======================= */

  .please-donate {
    text-align: center;
  }
  
  #donate-button {
    font-family: 'Major Mono Display', Tahoma, Verdana, sans-serif;
    text-transform: lowercase;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
    font-size: 1.2rem;
    align-self: center;
    color: black;
    background: whitesmoke;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;
    border: none;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  #donate-icon{
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    align-self: center;
    width: 2.5rem;
  }

  #donate-button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  #donate-button:active {
    -webkit-tap-highlight-color: transparent;
  }
    

/*============================================================================================*/
/*-------------------------------------- Media Queries ---------------------------------------*/
/*============================================================================================*/ 

@media only screen and (min-width: 1025px) {
  
  h2 {
    margin: 2rem;
    margin-top: 4rem;
  }

  #page-content {
    padding: 2rem;
  }
}


/*============================================================================================*/
/*--------------------------------------- End of File ----------------------------------------*/
/*============================================================================================*/