/*============================================================================================*/
/*-------------------------------------- Content Styles --------------------------------------*/
/*============================================================================================*/

.banner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15rem;
	font-family: 'Major Mono Display', monospace;
	background: url('../images/banners/trans-tornado.svg');
	background-size: cover;
	overflow: hidden;
}

.banner h2 {
	padding: 0;
	text-transform: none;
	width: 100%;
	color: white;
	line-height: 1.75;
}

#transform {
	font-size: calc(2.5rem + 1vw);
}

.wip-message {
	font-family: 'Major Mono Display', monospace;
	font-size: 1.25rem;
	text-transform: lowercase;
	text-align: center;
	padding: 1rem 0;
}



/*============================================================================================*/
/*-------------------------------------- Media Queries ---------------------------------------*/
/*============================================================================================*/ 

@media only screen and (min-width: 1025px) {

	p {
		padding: 0 4rem;
	}

	.banner {
		height: 20rem;
	}

	.banner h2 {
		position: relative;
		top: -2.5rem;
		font-size: 4rem;
		line-height: 1;
	}

	#transform {
		font-size: 9rem;
		line-height: 0.15;
	}

	#page-content {
		padding: 2rem;
	}

	.wip-message {
		padding: 2.5rem 0;
	}
}


/*============================================================================================*/
/*--------------------------------------- End of File ----------------------------------------*/
/*============================================================================================*/