/*============================================================================================*/
/*------------------------------------ Universal Styles --------------------------------------*/
/*============================================================================================*/

html {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: justify;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


/* ======================= Font Styles ======================= */

h2 {
	font-family: "Major Mono Display", monospace;
	font-size: calc(2rem + 1vw);
	text-transform: lowercase;
	text-align: center;
	padding: 1.25rem;
	font-weight: bolder;
  }

p {
	font-size: 1rem;
 }


/*============================================================================================*/
/*-------------------------------------- Content Styles --------------------------------------*/
/*============================================================================================*/

.page-content {
	position: relative;	
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: rgb(29, 29, 29);
	color: white;
}

.banner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 15rem;
	font-family: 'Major Mono Display', Arial, Helvetica, sans-serif;
	background: linear-gradient(to right, rgba(0, 119, 255, 0.05), rgba(255, 0, 191, 0.05), 
		rgba(255, 255, 255, 0), rgba(255, 0, 191, 0.05), rgba(0, 119, 255, 0.05)),
		url('../images/banners/causeway.jpg') no-repeat center center; 
	background-size: cover;
	border-bottom: 0.5rem double rgb(255, 214, 0);
	overflow: hidden;
}

.banner h2 {
	text-transform: none;
	text-shadow: 0 0 5rem 5rem black;
	width: 100%;
}

.text {
	position: relative;
	width: 90%;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: center;
	padding-bottom: 8em;
  }



/*============================================================================================*/
/*-------------------------------------- Media Queries ---------------------------------------*/
/*============================================================================================*/ 

@media only screen and (min-width: 769px) {

	.banner {
		height: 30rem;
		text-shadow: 0 0 2rem 2rem black;
		-webkit-text-stroke-width: 0.5rem;
		-webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
		border-bottom: 0.75rem double rgb(255, 214, 0);
	}

	.banner h2 {
		font-size: calc(4rem + 1vw);
		line-height: 5rem;
	}

}

/*============================================================================================*/
/*--------------------------------------- End of File ----------------------------------------*/
/*============================================================================================*/